.sidebar {
  width: 4.25rem;
  height: calc(100vh - 2.813rem);
  background-color: #253346;
  padding: 1.25rem;
  box-shadow: 0.125rem 0 0.313rem rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 2.813rem;
  left: 0;
}

.sidebar-title {
  font-size: 1.5rem;
  margin-bottom: 1.25rem;
}

.sidebar-menu {
  list-style-type: none;
  padding: 0;
}
